<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', project_path(@issue.project) %>
